/**
form表单样式定义
*/
* {
	font-size: 12px;
	margin: 0;
	padding: 0;
}


input {
	width: 300px;
	height: 26px;
	border: 1px solid #999;
	border-radius: 4px;
}

select {
	width: 300px;
	height: 26px;
	border: 1px solid #999;
	border-radius: 4px;
}

.formErr {
	border: 1px solid red;
}


.form .label {
	display: block;
	float: left;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: end;
}


.form .txt {
	display: block;
	float: left;
	width: 768px;
	height: 40px;
	line-height: 40px;
	padding-left: 16px;
}


.form button {
	width: 56px;
	height: 24px;
	background-color: green;
	border: 0;
	border-radius: 4px;
	color: white;
}


.form .errTips {
	width: 226px;
	background-color: lightpink;
	color: darkred;
	border-radius: 4px;
	margin-left: 144px;
	margin-top: 6px;
	margin-bottom: 4px;
	padding: 16px 48px;
}
